In [2]:
import pandas as pd
from itertools import combinations

In [3]:
data = [1104, 1112, 1113, 1116, 1120, 1137, 1138, 1139, 1153, 1155, 1158, 1166, 1168, 1172, 1181, 1196, 1199, 1209, 1211, 1222, 1233, 1242, 1243, 1246, 1252, 1254, 1260, 1267, 1274, 1276, 1277, 1281, 1285, 1293, 1300, 1301, 1305, 1308, 1314, 1326, 1328, 1335, 1344, 1345, 1347, 1348, 1355, 1361, 1371, 1372, 1382, 1393, 1395, 1397, 1400, 1401, 1403, 1411, 1417, 1420, 1422, 1437, 1438, 1439, 1452, 1455, 1460, 1462]

In [27]:
base = combinations(data,2)
base = list(base)

In [33]:
out = []
row = []
for item in base:
    row.append(min(item[0],item[1]))
    row.append(max(item[0],item[1]))
    out.append(row)
    row = []

In [34]:
df = pd.DataFrame(out,columns=['MinTeam','MaxTeam'])

In [35]:
df.head()

   MinTeam  MaxTeam
0     1104     1112
1     1104     1113
2     1104     1116
3     1104     1120
4     1104     1137

In [36]:
df['Season'] = 2018

In [37]:
df.head()

   MinTeam  MaxTeam  Season
0     1104     1112    2018
1     1104     1113    2018
2     1104     1116    2018
3     1104     1120    2018
4     1104     1137    2018

In [40]:
df.rename(columns={'MinTeam':'LTeamID','MaxTeam':'WTeamID'},inplace=True)
df.head()

   LTeamID  WTeamID  Season
0     1104     1112    2018
1     1104     1113    2018
2     1104     1116    2018
3     1104     1120    2018
4     1104     1137    2018

In [41]:
df.to_csv('2018_tourney_games.csv')